{{#partial "content"}}
    <body style="background-image: url('/images/bg2.jpg');background-repeat: no-repeat;
    background-size: cover;">
        <h1 class="h1 mb-3 text-center">Animal Details</h1>
        <table class="table text-white">
            <thead class="thead text-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID NUMBER</th>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">HEALTH STATUS</th>
                <th scope="col">ANIMAL CATEGORY</th>

            </tr>
            </thead>
            <tbody>
            <tr>
<!--                <strong>-->
                <th scope="row">1</th>
                <td>   <strong> 1</strong></td>
                <td> <strong> Tiger</strong></td>
                <td>   <strong>4<</strong></td>
                <td>     <strong> Healthy</strong></td>
                <td><strong>wild animal</strong></td>
<!--                </strong>-->
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><p><strong{{ id}}</strong></p></td>
                <td><p></strong>touch {{name}}</strong></p></td>
                <td><p><strong>{{age}}</strong></p></td>
                <td><p><strong>{{healthStatus}}</strong></p></td>
                <td><p><strong{{animalCategory}}</strong></p></td>
            </tr>
            </tbody>
        </table>
    </body>
{{/partial}}
{{> layout.hbs}}



